# Node.js
node_modules/

# React Native
api/
frontend/
backend/

# Logs
logs/
*.log
npm-debug.log*

# Build directories
dist/
build/

# Temporary files
*.tmp
*.swp

# Ignore specific file types
*.env
